{% extends "mvp/templates/base.html" %}
{% load myfilters %}

{% block title %}Courier Ad{% endblock %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6><a href="/mvp/user/{{ user }}">{{ name }}'s Trip</a></h6>
                        <h7>Status: {{ ad.get_status_display }}</h7>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xl-center font-weight-bolder opacity-7 ps-2">
                                        From
                                    </th>
                                    <th class="text-uppercase text-secondary text-xl-center font-weight-bolder opacity-7 ps-2">
                                        To
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <p class="text-lg-center font-weight-bolder mb-2">{{ ad.dep_airport }}</p>
                                        <p class="text-md-center text-secondary font-weight-bold mb-0">{{ ad.get_dep_country_display }}</p>
                                        <p class="text-md-center text-secondary font-weight-bold mb-0">{{ ad.dep_date }}</p>
                                    </td>
                                    <td>
                                        <p class="text-lg-center font-weight-bolder mb-2">{{ ad.dest_airport }}</p>
                                        <p class="text-md-center text-secondary font-weight-bold mb-0">{{ ad.get_dest_country_display }}</p>
                                        <p class="text-md-center text-secondary font-weight-bold mb-0">{{ ad.dest_date }}</p>
                                    </td>
                                </tr>
                                </tbody>
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-md-center font-weight-bolder opacity-7 ps-2">
                                        Maximum Weight
                                    </th>
                                    <th class="text-uppercase text-secondary text-md-center font-weight-bolder opacity-7 ps-2">
                                        Price
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <p class="text-sm-center font-weight-bolder mb-2">{{ ad.package_weight }}</p>
                                        <p class="text-sm-center text-secondary font-weight-bold mb-0">Pounds</p>
                                    </td>
                                    <td>
                                        <p class="text-sm-center font-weight-bolder mb-2">
                                            ${{ ad.package_price_min }}</p>
                                        <p class="text-sm-center text-secondary font-weight-bold mb-0">USD</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% if message_on %}
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Message</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                {% if messages %}
                                    <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" width="10%">
                                        From
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" width="10%">
                                        Time
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Message
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for m in messages %}
                                    <tr>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">{{ m.name }}</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">{{ m.time }}</p>
                                        </td>
                                        <td>
                                            {% if m.image %}
                                                <img src="{{ m.image.url }}" width="25%">
                                                <p></p>
                                            {% endif %}
                                            <p class="text-xs font-weight-bold mb-0">{{ m.text }}</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% else %}
                                <tbody>
                                  <tr>
                                    <td class="text-center">
                                            <p class="text-lg font-weight-bolder mb-0">No Messages</p>
                                    </td>
                                  </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <form role="form text-left" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                            {% if kyc %}
                                <div class="mb-3" >
                                    <label class="form-control-label">{{ field.label }}: {{ field|addclass:"form-control" }}</label>
                                </div>
                            {% else %}
                                <div class="mb-3">{{ field|addplaceholder:field.label }}</div>
                            {% endif %}
                        {% endfor %}
                        <div class="text-center">
                            <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">{{ btn }}</button>
                        </div>
                    </form>
                </div>
                {% elif no_options %}
                    <div class="card mb-4">
                        <div class="card-header pb-0">
                            <h6>Before starting a deal, you must post an ad</h6>
                            <a class="btn bg-gradient-primary btn-lg" href="/mvp/user/dash">Home</a>
                        </div>
                    </div>
                {% endif %}
                {% if owner_links %}
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Edit Controls</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <tbody>
                                <tr>
                                    {% for link in owner_links %}
                                        <td class="text-center">
                                            <a class="btn bg-gradient-primary btn-lg" href="{{ link.url }}">{{ link.name }}</a>
                                        </td>
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}